<div class="row">
	<div class="span12 centered">
		<h1 class="rt_title">Rejection Therapy Support Group</h1>
		<p id='Tagline' class='lead'>
			Because it's <span id="cycle_home_text">fun to laugh with others getting rejected</span>
		</p>
		<hr />

		<%= form_tag(users_path) do %>
			<input name="email" type="text" class="input-xxlarge font_large blue" placeholder='email' autocomplete="on" />
			<br />
			<button type="submit" class="btn btn-primary btn-large">Let's do this!</button>
			<a id='HomeReject' class="btn btn-link red">eww... leave me alone</a>
		<% end %>
	</div>
</div>


